:root {
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #f2f3f7;
}


/* navbar start */
.navbar {
    background-color: #f85606;
    position: sticky;
    top: 0;
    z-index: 100;
}

.n-up {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.n-up ul {
    display: flex;
    list-style: none;
    margin-left: 1.5vw;
}

.n-up ul li {
    font-size: 1.1vw;
    margin: 0.7vw 1.2vw;
    cursor: pointer;
    /* border: 1px solid black; */
}

.n-up ul li:hover {
    color: #fcab83;
}

.nu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.6vw;
    background-color: #ad3c04;
    padding: 0.7vw 0.95vw;
    border-bottom-left-radius: 0.9vw;
    border-bottom-right-radius: 0.9vw;
    cursor: pointer;
}

.nu-right img {
    width: 1.7vw;
}

.nu-right span {
    font-size: 1.1vw;
    padding-left: 0.8vw;
}

.n-down {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    align-items: center;
    gap: 1.2vw;
    margin: 0vw 1.2vw;
    padding: 0vw 0vw 0.6vw 0.6vw;
}

.nd-ele {
    flex: 1;
    font-size: 1.2vw;
    cursor: pointer;
    font-weight: 700;
    /* border: 1px solid; */
}

.nde-cat {
    padding: 0.9vw 0.2vw 0.9vw 1.2vw;
    border-radius: 0.8vw;
}

.nde-cat span {
    margin-left: 1vw;
}

.nde-logo {
    flex: 1;
}

.nde-logo img {
    width: 9vw;
}

.nde-cat {
    flex: 2;
}

#nde-down-arrow {
    margin-left: 0.5vw;
    margin-bottom: 0.2vw;
    /* align-items: center; */
    border: solid #FFFFFF;
    border-width: 0vw .25vw .26vw 0vw;
    display: inline-block;
    /* size of arrow */
    padding: 0.2vw;
    /* to rotate the arrow */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nde-cat:hover {
    background-color: #df4d05;
}

.nde-cat:hover #nde-down-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: 0rem;
}

.nde-search {
    flex: 8;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 0.6vw;
    padding: 0.4vw 0.4vw 0.4vw 1vw;
    align-items: center;
}

.nde-search input {
    flex: 1;
    border: 0;
    outline: none;
    font-size: 1.3vw;
    /* border: 2px solid ; */
}

.nde-search button {
    background-color: #FFFFFF;
    border-radius: 0.6vw;
    padding: 0.3vw 0.9vw;
    border: 0;
    background-color: #ffe1d2;
    cursor: pointer;
}

.nde-search button img {
    width: 1.1vw;
    filter: brightness(0) saturate(100%) invert(57%) sepia(81%) saturate(4306%) hue-rotate(350deg) brightness(95%) contrast(104%);
}

.nde-login {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    padding: 0.6vw 0.4vw;
    border-radius: 0.8vw;
}

.nde-login:hover {
    background-color: #df4d05;
}

.nde-login img {
    width: 1.5vw;
    filter: invert(100%);
}

.nde-signup {
    flex: 1;
    padding: 0.7vw 0.5vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nde-signup:hover {
    background-color: #df4d05;
}

.nde-en {
    flex: 0.5;
    padding: 0.7vw 0.5vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
}

.nde-en:hover {
    background-color: #df4d05;
}

.nde-en img {
    width: 1.8vw;
    filter: invert(100%);
}

#nde-en-arrow {
    font-size: 0.9vw;
    transform: rotate(180deg);
}

.nde-cart {
    flex: 0.5;
    padding: 0.7vw 0.5vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nde-cart:hover {
    background-color: #df4d05;
}

.nde-cart img {
    width: 1.8vw;
    filter: invert(100%);
}

/* navbar end */

/* store navbars start */
.m-topbar {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 0vw 1vw;
    background-color: #b6096a;
    padding: 1.2vw 1.2vw;
}

.mt-storeInfo {
    display: flex;
    list-style: none;
    padding: 1vw 1.75vw;
    gap: 1.3vw;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.mts-logo img {
    width: 4vw;
    /* border: 2px solid black; */
}

.mts-mall-stat h1 {
    font-size: 1.2vw;
    font-weight: 300;
    padding: 0.5em 0em;
}

.mts-ms-foll {
    display: flex;
}

.mts-ms-foll img {
    width: 7vw;
}

.mts-ms-foll span {
    font-size: 1.1vw;
    padding: 0rem 1rem;
    color: #d6d6d6;
}

.mts-ms-foll div {
    font-size: 1.1vw;
    font-weight: 500;
}

.mts-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

.mts-chat img {
    width: 1.9vw;
    filter: brightness(0) saturate(100%) invert(17%) sepia(16%) saturate(5070%) hue-rotate(163deg) brightness(100%) contrast(101%);
}

.mts-chat div {
    color: #003e52;
    font-size: 1.1vw;
}

.mts-chat:hover {
    background-color: #e6f3f6;
}

.mts-follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

.mts-follow img {
    width: 1.9vw;
    filter: brightness(0) saturate(100%) invert(46%) sepia(100%) saturate(458%) hue-rotate(339deg) brightness(98%) contrast(97%);
}

.mts-follow span {
    font-size: 1.1vw;
    color: #f57224;
}

.mts-follow:hover {
    background-color: #fef0e9;
}

.mt-logo img {
    width: 14vw;
    margin: 0em 1vw;
}

.store-navbar {
    /* position: sticky; */
    /* top: 0; */
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
    margin: 0vw 1vw;
    padding: 0.3em 1em 0.4em 2em;
    background-color: #FFFFFF;
    position: sticky;
    top: 7.6vw;
    z-index: 100;
}

.store-navbar ul {
    display: flex;
    list-style: none;
    gap: 1vw;
}

.store-navbar ul li {
    padding: 0.6em 0.3em;
    /* border: 2px solid blue; */
    font-weight: bold;
    font-size: 1.4vw;
    cursor: pointer;
}

.snl1 {
    color: #f57224;
    border-bottom: 0.25em solid;
}

.snl2 {
    color: #939393;
}

.sn-searchbar {
    display: flex;
    border: 0.01em solid #808080;
    /* padding: 0.3em 0em 0.3em 1em; */
    align-items: center;
    justify-content: center;
}

.sn-searchbar input {
    flex: 1;
    border: 0;
    outline: 0;
    font-size: 1.2vw;
    color: #808080;
    margin: 0.5vw 0vw 0.5vw 0.7vw;
}

.sn-searchbar button {
    padding: 0.4vw 0.5vw;
    background-color: #FFFFFF;
    border: 0;
}

.sn-searchbar button:hover {
    background-color: #f2f3f7;
}

.sn-searchbar img {
    width: 1.6vw;
    filter: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(0%) hue-rotate(233deg) brightness(95%) contrast(88%);
}

/* store navbars end */

.images {
    margin: 0vw 1vw;
}

#img1 {
    width: 100%;
}

#img2 {
    width: 100%;
}



/* product flex boxes start */

.pro-ban-row {
    border: 1px solid black;
    margin: 1vw;
    display: flex;
    justify-content: left;
    /* flex: none; */
}

.pbr-banner {
    /* border: 2px solid red; */
    width: 20%;
    /* height: 29.3vw; */
    overflow: hidden;
    /* to center the image */
    position: relative;
}

.pbr-banner img {
    /* width: 100%; */
    height: 100%;
    /* to center the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pbr-product-container {
    /* border: 2px solid blue; */
    width: 80%;
    /* overflow-x: auto; */
    background-color: #bcc7d0;
    padding: 0vw 2.0309vw;
    display: flex;
    overflow-x: auto;
    /* flex: none; */
    /* justify-content: center; */
}

.pbrpc-product {
    width: 18.655vw;
    background-color: #FFFFFF;
    cursor: pointer;
}

.pbrpcp-img {
    width: 16.245vw;
    height: 16.245vw;
    overflow: hidden;
    margin: auto;
    /* border: 1px solid #c3bbbb; */
    position: relative;
}

.pbrpcp-img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pbrpcp-discription {
    padding: 1.638vw 0.655vw 0.983vw;
}

.pbrpcp-discription h2 {
    font-size: 1.2vw;
    font-weight: 600;
    color: #424242;
}

.pbrpcp-discription p:nth-child(2){
    font-size: 1.5vw;
    color: #f57224;
    padding: 0.3vw 0vw;
}
.pbrpcp-discription p:nth-child(3) del {
    font-size: 1vw;
    color: #9e9e9e;
}

.pbrpcp-discription p:nth-child(3) span {
    font-size: 1vw;
    color: #424242;
    padding-left: 0.5vw;
}

.pbrpcp-discription p:nth-child(4) span:nth-child(1) {
    font-size: 1.6vw;
    color: #faca51;
    padding-right: 0.5vw;
}

.pbrpcp-discription p:nth-child(4) span:nth-child(2){
    font-size: 1.1vw;
    color: #424242;
}

/* product grid start */
#h1_before_grid {
    margin: 3vw 0vw 2vw 1vw;
    font-weight: 500;
    
}

.grid {
    margin: 1vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-auto-rows: auto;
    grid-gap: 1vw;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}
/* product grid start */


/* footer start */
footer {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* .footer-child {
    border: 2px solid;
} */

footer div h2 {
    font-size: 1.7vw;
    color: #f85606;
    padding: 2vw 0vw 1vw 0vw;
    font-weight: 500;
}

footer div {
    list-style: none;
}

footer div li {
    font-size: 1.2vw;
}

.fc3-d-inter ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3vw 0vw;
}

.fc3-d-inter li {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.fc3-d-inter li img {
    width: 2.5vw;
}

.fc3-d-inter li span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fc-box li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fc3-d-payment img {
    width: 3vw;
}

.fc3-d-payment img:hover {
    cursor: pointer;
}

.fc3-d-payment ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 0vw 0.5vw; */
    place-items: center;
}

.fc3-d-payment ul :nth-child(1) {
    width: 4vw;
}

.fc3-d-payment ul :nth-child(2) {
    width: 2.5vw;
}

.fc3-d-payment ul :nth-child(4) {
    width: 1.8vw;
}

.fc3-d-payment ul :nth-child(5) {
    width: 4vw;
}

.fc3-d-payment ul :nth-child(7) {
    width: 1.8vw;
}

.fc3-d-payment ul :nth-child(9) {
    width: 4vw;
}

.fc3-verified img {
    width: 8vw;
}

.fc3-verified img:hover {
    cursor: pointer;
}

.fc4 ul {
    display: grid;
    list-style: none;
    grid-template-columns: 8vw 8vw;
    justify-content: center;
    align-content: center;
}

.fc4 ul img {
    cursor: pointer;
}

.fc4 ul img:nth-child(1){
    width: 7vw;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.fc4 ul img:nth-child(2){
    width: 7vw;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: self-start;
}

.fc4 ul img:nth-child(3){
    width: 7vw;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self:self-end;
}

.fc4-happy {
    display: flex;
    margin-top: 3.5vw;
    margin-bottom: 1.4vw;
    /* justify-content: center; */
    align-items: center;
    gap: 1.3vw;
}

.fc4-happy span img {
    /* padding: 0vw 1vw; */
    width: 2.5vw;
}

.fc4-happy div p:nth-child(1) {
    color: #f45903;
    font-weight: 900;
    font-size: 1.3vw;
}

.fc4-happy div p:nth-child(2) {
    font-size: 1.1vw;
}

.fc4-happy div p:nth-child(2):hover {
    text-decoration: underline;
    cursor: pointer;
}

.fc4f-imgs {
    display: flex;
    gap: 0.8vw;
}

.fc4f-imgs img {
    width: 2.2vw;
    cursor: pointer;
}


/* footer end */
